.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container {
    padding: 1.5rem;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.8rem;
  }
}
